/* theme-music.css */
body.theme-music {
    --rs-bg: #faf5ff; /* Faint purple, creative vibe */
    --rs-surface: #ffffff;
    --rs-text: #2e1065;
    --rs-primary: #7e22ce; /* Vibrant purple */
    --rs-secondary: #d8b4fe;
    --rs-border: #e9d5ff;
}

@media (prefers-color-scheme: dark) {
    body.theme-music {
        --rs-bg: #2e1065;
        --rs-surface: #4c1d95;
        --rs-text: #faf5ff;
        --rs-primary: #d8b4fe;
        --rs-secondary: #9333ea;
        --rs-border: #5b21b6;
    }
}
